@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.product-links {
  display: flex;
  align-items: center;
  gap: functions.responsive-value(12, 8);

  @media (min-width: #{768 + 0.1px}) {
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
    padding-inline: 16px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  // .product-links__item
  &__item {
  }

  // .product-links__link
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 32px;
    padding-block: 5px;
    padding-inline: 16px;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    text-align: center;
    white-space: nowrap;
    border: 1px solid variables.$color-hover;
    border-radius: 100px;

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      background-color: variables.$color-hover;
    }
  }
}
