@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.sort {
  display: flex;
  align-items: center;
  gap: 16px;

  // .sort__label
  &__label {
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.01em;

    @media (max-width: 992px) {
      position: absolute;
      inline-size: 1px;
      block-size: 1px;
      margin: -1px;
      padding: 0;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
      white-space: nowrap;
      border: none;
      outline: none;
      outline-offset: 0;
    }
  }

  // .sort__select
  &__select {
  }

  select {
    appearance: none;
    inline-size: 32px;
    block-size: functions.responsive-value(44, 32);
    font-size: 0;
    background-color: variables.$color-ededed;

    @media (min-width: #{992 + 0.1px}) {
      inline-size: 200px;
    }
  }
}
