@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.tab-nav {
  background-image: linear-gradient(to right, variables.$color-999999, variables.$color-999999);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: 0 calc(100% - 1px);
  overflow-x: auto;
  overflow-y: hidden;

  @media (max-width: 768px) {
    padding-inline: 16px;
    background-size: calc(100% - 16px) 1px;
    background-position: 16px calc(100% - 1px);
  }

  // .tab-nav__list
  &__list {
    display: flex;
    align-items: center;
  }

  // .tab-nav__item
  &__item {
  }

  // .tab-nav__link
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-block-size: functions.responsive-value(43, 32);
    padding-block: 4px;
    padding-inline: functions.responsive-value(24, 16);
    font-weight: 500;
    font-size: functions.responsive-value(20, 16);
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    border-block-end: 2px solid;

    &:not(.active) {
      border-block-end-color: transparent;
      color: variables.$color-999999;

      @include mixins.prefers-reduced-motion {
        transition-property: color, border-block-end-color;
        transition-duration: 0.3s;
      }

      @include mixins.hover {
        color: variables.$color-hover;
        border-block-end-color: currentColor;
      }
    }

    @media (min-width: #{768 + 0.1px}) {
      line-height: 1.75;
      letter-spacing: 0.01em;
    }
  }
}
