$color-white: #fff;
$color-black: #000;
$color-hover: #ffb74d;
$color-pagination: #ffe0b2;
$color-badge: #ffe1ba;

$color-1d1d1d: #1d1d1d;
$color-999999: #999;
$color-2d3843: #2d3843;
$color-ededed: #ededed;
$color-f6f6f6: #f6f6f6;
$color-dadada: #dadada;
$color-f9f9f9: #f9f9f9;
