@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.catalog {
  padding-block: 16px 48px;

  // .catalog__container
  &__container {
    max-inline-size: variables.container();
    margin-inline: auto;
    padding-inline: variables.$padding + px;

    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .catalog__header
  &__header {
    margin-block-end: functions.responsive-value(24, 30);

    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .catalog__title
  &__title {
    margin-block-end: functions.responsive-value(17, 16);
  }

  // .catalog__tabs
  &__tabs {
    margin-block-end: functions.responsive-value(24, 16);

    @media (max-width: 768px) {
      margin-inline: -16px;
    }
  }

  // .catalog__product-links
  &__product-links {
    margin-block-end: functions.responsive-value(24, 30);

    @media (max-width: 768px) {
      margin-inline: -16px;
    }
  }

  // .catalog__inner
  &__inner {
    display: grid;
    gap: 32px;

    @media (min-width: #{992 + 0.1px}) {
      grid-template-columns: 260px 1fr;
    }
  }

  // .catalog__filter
  &__filter {
  }

  // .catalog__products
  &__products {
    @media (max-width: 992px) {
      margin-inline: -16px;
    }
  }

  // .catalog__text
  &__text {
    margin-block-start: 112px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.catalog-filter {
  @media (max-width: 992px) {
    position: fixed;
    inset-block: 0;
    inset-inline-start: 0;
    z-index: 10000001;
    inline-size: min(100%, 360px);
    padding-inline: 16px;
    background-color: variables.$color-white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: auto;

    &:not(&--show) {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-100%);
    }

    @include mixins.prefers-reduced-motion {
      transition-property: opacity, visibility, transform;
      transition-duration: 0.3s;
    }
  }

  // .catalog-filter__header
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    min-block-size: 44px;
    margin-block-end: functions.responsive-value(16, 4);

    @media (max-width: 992px) {
      position: sticky;
      inset-block-start: 0;
      z-index: 1;
      background-color: variables.$color-white;
    }
  }

  // .catalog-filter__title
  &__title {
  }

  // .catalog-filter__close
  &__close {
    position: relative;
    flex: 0 0 auto;
    inline-size: 24px;
    aspect-ratio: 1 / 1;
    font-size: 0;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    &:hover {
      color: variables.$color-hover;
    }

    @media (min-width: #{992 + 0.1px}) {
      display: none;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      inline-size: 18px;
      aspect-ratio: 18 / 2;
      background-color: currentColor;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  // .catalog-filter__form
  &__form {
  }
}

.filter-title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: variables.$font-gotham-pro !important;
  font-weight: 500;
  font-size: functions.responsive-value(16, 14) !important;
  line-height: 1.5;
  color: variables.$color-1d1d1d;

  @media (max-width: 992px) {
    letter-spacing: 0.01em;
  }

  // .filter-title__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
  }

  // .filter-title__text
  &__text {
    // .filter-title__text--desktop
    &--desktop {
      @media (max-width: 992px) {
        display: none;
      }
    }

    // .filter-title__text--mob
    &--mob {
      @media (min-width: #{992 + 0.1px}) {
        display: none;
      }
    }
  }
}

.catalog-form {
  // .catalog-form__button
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 100%;
    min-block-size: 44px;
    margin-block-start: functions.responsive-value(16, 4);
    padding-block: 5px;
    padding-inline: 16px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    background-color: variables.$color-hover;
    border: 2px solid variables.$color-hover;

    // .catalog-form__button--reset
    &--reset {
      @media (max-width: 992px) {
        display: none;
      }
    }

    // .catalog-form__button--submit
    &--submit {
      @media (min-width: #{992 + 0.1px}) {
        display: none;
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      background-color: rgba(variables.$color-1d1d1d, 0);
    }

    @media (max-width: 992px) {
      position: sticky;
      inset-block-end: 0;
      z-index: 1;
    }
  }
}

.catalog-spoilers {
  // .catalog-spoilers__item
  &__item {
    &:not(:last-child) {
      margin-block-end: 8px;
    }
  }

  // .catalog-spoilers__title
  &__title {
    inline-size: 100%;
  }

  // .catalog-spoilers__button
  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    inline-size: 100%;
    min-block-size: 44px;
    padding-block: 5px;
    font-size: 16px;
    line-height: 1.5;
    text-align: start;
    color: variables.$color-2d3843;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;

      .catalog-spoilers__icon {
        color: variables.$color-hover;
      }
    }
  }

  // .catalog-spoilers__label
  &__label {
  }

  // .catalog-spoilers__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-1d1d1d;

    .spoiler-active & {
      transform: rotate(180deg);
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color, transform;
      transition-duration: 0.3s;
    }
  }

  // .catalog-spoilers__region
  &__region {
  }

  // .catalog-spoilers__inner
  &__inner {
    padding-block-start: 4px;
  }

  // .catalog-spoilers__prices
  &__prices {
  }

  // .catalog-spoilers__checkboxes
  &__checkboxes {
  }

  // .catalog-spoilers__more
  &__more {
    margin-block-start: 4px;
  }
}

.catalog-prices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;

  // .catalog-prices__input
  &__input {
    inline-size: 100%;
    block-size: 44px;
    padding-inline: 16px;
    font-size: 14px;
    letter-spacing: 0.01em;
    background-color: variables.$color-ededed;
    border-block-end: 1px solid variables.$color-dadada;

    &:focus {
      border-block-end-color: variables.$color-hover;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: border-block-end-color;
      transition-duration: 0.3s;
    }

    &::placeholder {
      color: variables.$color-999999;
    }
  }
}

.catalog-checkboxes {
  display: grid;
  gap: 8px;

  &:has(.catalog-checkbox:nth-child(4)) {
    block-size: calc(24px * 3 + 8px * 2);
    overflow: hidden;
  }

  // .catalog-checkboxes--show
  &--show {
    &:has(.catalog-checkbox:nth-child(4)) {
      block-size: auto;
    }
  }

  @include mixins.prefers-reduced-motion {
    transition-property: block-size;
    transition-duration: 0.3s;
  }

  // .catalog-checkboxes__checkbox
  &__checkbox {
  }
}

.catalog-checkbox {
  .catalog-checkboxes:not(.catalog-checkboxes--show) & {
    &:not(:nth-child(-n + 3)) {
      display: none;
    }
  }

  // .catalog-checkbox__label
  &__label {
    display: flex;
    align-items: center;
    gap: 11px;
    min-block-size: 24px;
    padding-inline: 3px;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: variables.$color-black;
    user-select: none;

    .catalog-checkbox:has(.catalog-checkbox__input:focus-visible) & {
      outline: 2px solid;
      outline-offset: 2px;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;

      .catalog-checkbox__icon {
        color: variables.$color-hover;
      }
    }
  }

  // .catalog-checkbox__icon
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    inline-size: 18px;
    aspect-ratio: 1 / 1;
    font-size: 0;
    color: variables.$color-1d1d1d;
    border: 2px solid;
    border-radius: 4px;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    &::after {
      content: "";
      flex: 0 0 auto;
      inline-size: 12px;
      aspect-ratio: 1 / 1;
      border-radius: 2px;

      @include mixins.prefers-reduced-motion {
        transition-property: background-color;
        transition-duration: 0.3s;
      }

      .catalog-checkbox:has(.catalog-checkbox__input:checked) & {
        background-color: currentColor;
      }
    }
  }

  // .catalog-checkbox__text
  &__text {
  }

  // .catalog-checkbox__image
  &__image {
    flex: 0 0 auto;
    inline-size: 19px;
    aspect-ratio: 19 / 16;
    margin-inline-start: auto;
    font-size: 0;

    img {
      object-fit: contain;
    }
  }

  // .catalog-checkbox__input
  &__input {
  }
}

.more-button {
  display: none;
  justify-content: start;
  align-items: center;
  gap: 10px;
  inline-size: 100%;
  min-block-size: 44px;
  padding-block: 5px;
  padding-inline: 32px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: start;

  .catalog-checkboxes:has(.catalog-checkbox:nth-child(4)) + & {
    display: flex;
  }

  @include mixins.prefers-reduced-motion {
    transition-property: color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-hover;
  }

  // .more-button__text
  &__text {
  }

  // .more-button__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;

    .catalog-checkboxes--show + .more-button & {
      transform: rotate(180deg);
    }

    @include mixins.prefers-reduced-motion {
      transition-property: transform;
      transition-duration: 0.3s;
    }
  }
}

.catalog-products {
  @media (max-width: 992px) {
    padding-inline: 16px;
    overflow: hidden;
  }

  // .catalog-products__actions
  &__actions {
    margin-block-end: functions.responsive-value(24, 10);
  }

  // .catalog-products__choices
  &__choices {
    margin-block-end: functions.responsive-value(24, 16);

    @media (max-width: 992px) {
      margin-inline: -16px;
    }
  }

  // .catalog-products__inner
  &__inner {
  }

  // .catalog-products__list
  &__list {
  }

  // .catalog-products__more
  &__more {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    max-inline-size: calc(320px - 32px);
    min-block-size: 44px;
    margin-block-start: 16px;
    margin-inline: auto;
    padding-block: 5px;
    padding-inline: 16px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border: 1px solid;

    @include mixins.prefers-reduced-motion {
      transition-property: border-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      border-color: variables.$color-hover;
    }

    @media (min-width: #{992 + 0.1px}) {
      display: none;
    }
  }

  // .catalog-products__text
  &__text {
    margin-block-start: 64px;

    > *:not(:last-child) {
      margin-block-end: 24px;
    }

    h2 {
      margin-block-end: functions.responsive-value(16, 12);
      font-family: variables.$font-gotham-pro !important;
      font-weight: 500;
      font-size: functions.responsive-value(18, 16) !important;
      line-height: 1.5;
      color: variables.$color-1d1d1d;

      @media (min-width: #{768 + 0.1px}) {
        line-height: 1.33;
      }
    }

    ul {
      padding-inline-start: 1.5em;
      list-style: disc;
    }

    @media (max-width: 768px) {
      letter-spacing: 0.01em;
    }
  }

  // .catalog-products__pagination
  &__pagination {
    margin-block-start: functions.responsive-value(34, 24);
  }
}

.catalog-actions {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  @media (min-width: #{992 + 0.1px}) {
    justify-content: end;
  }

  // .catalog-actions__group
  &__group {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
