@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.catalog {
  padding-block: 16px 48px;

  // .catalog__container
  &__container {
    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .catalog__header
  &__header {
    margin-block-end: functions.responsive-value(24, 30);

    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .catalog__title
  &__title {
    margin-block-end: functions.responsive-value(17, 16);
  }

  // .catalog__tabs
  &__tabs {
    margin-block-end: functions.responsive-value(24, 16);

    @media (max-width: 768px) {
      margin-inline: -16px;
    }
  }

  // .catalog__product-links
  &__product-links {
    margin-block-end: functions.responsive-value(24, 30);

    @media (max-width: 768px) {
      margin-inline: -16px;
    }
  }

  // .catalog__inner
  &__inner {
    display: grid;
    gap: 32px;

    @media (min-width: #{992 + 0.1px}) {
      grid-template-columns: 260px 1fr;
    }
  }

  // .catalog__filter
  &__filter {
  }

  // .catalog__products
  &__products {
    @media (max-width: 992px) {
      margin-inline: -16px;
    }
  }

  // .catalog__text
  &__text {
    margin-block-start: 112px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.catalog-filter {
  @media (max-width: 992px) {
    position: fixed;
    inset-block: 0;
    inset-inline-start: 0;
    z-index: 1000;
    inline-size: min(100%, 360px);
    padding-inline: 16px;
    background-color: variables.$color-white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: auto;

    &:not(&--show) {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-100%);
    }

    @include mixins.prefers-reduced-motion {
      transition-property: opacity, visibility, transform;
      transition-duration: 0.3s;
    }
  }

  // .catalog-filter__header
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    min-block-size: 44px;
    margin-block-end: functions.responsive-value(16, 4);

    @media (max-width: 992px) {
      position: sticky;
      inset-block-start: 0;
      z-index: 1;
      background-color: variables.$color-white;
    }
  }

  // .catalog-filter__title
  &__title {
  }

  // .catalog-filter__close
  &__close {
    position: relative;
    flex: 0 0 auto;
    inline-size: 24px;
    aspect-ratio: 1 / 1;
    font-size: 0;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    &:hover {
      color: variables.$color-hover;
    }

    @media (min-width: #{992 + 0.1px}) {
      display: none;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      inline-size: 18px;
      aspect-ratio: 18 / 2;
      background-color: currentColor;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  // .catalog-filter__form
  &__form {
  }
}

.filter-title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  line-height: 1.5;

  @media (max-width: 992px) {
    letter-spacing: 0.01em;
  }

  // .filter-title__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
  }

  // .filter-title__text
  &__text {
    // .filter-title__text--desktop
    &--desktop {
      @media (max-width: 992px) {
        display: none;
      }
    }

    // .filter-title__text--mob
    &--mob {
      @media (min-width: #{992 + 0.1px}) {
        display: none;
      }
    }
  }
}

.catalog-form {
  // .catalog-form__button
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 100%;
    min-block-size: 44px;
    margin-block-start: functions.responsive-value(16, 4);
    padding-block: 5px;
    padding-inline: 16px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    background-color: variables.$color-hover;
    border: 2px solid variables.$color-hover;

    // .catalog-form__button--reset
    &--reset {
      @media (max-width: 992px) {
        display: none;
      }
    }

    // .catalog-form__button--submit
    &--submit {
      @media (min-width: #{992 + 0.1px}) {
        display: none;
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      background-color: rgba(variables.$color-1d1d1d, 0);
    }

    @media (max-width: 992px) {
      position: sticky;
      inset-block-end: 0;
      z-index: 1;
    }
  }
}

.catalog-spoilers {
  // .catalog-spoilers__item
  &__item {
    &:not(:last-child) {
      margin-block-end: 8px;
    }
  }

  // .catalog-spoilers__title
  &__title {
    inline-size: 100%;
  }

  // .catalog-spoilers__button
  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    inline-size: 100%;
    min-block-size: 44px;
    padding-block: 5px;
    font-size: 16px;
    line-height: 1.5;
    text-align: start;
    color: variables.$color-2d3843;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;

      .catalog-spoilers__icon {
        color: variables.$color-hover;
      }
    }
  }

  // .catalog-spoilers__label
  &__label {
  }

  // .catalog-spoilers__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-1d1d1d;

    .spoiler-active & {
      transform: rotate(180deg);
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color, transform;
      transition-duration: 0.3s;
    }
  }

  // .catalog-spoilers__region
  &__region {
  }

  // .catalog-spoilers__inner
  &__inner {
    padding-block-start: 4px;
  }

  // .catalog-spoilers__prices
  &__prices {
  }

  // .catalog-spoilers__checkboxes
  &__checkboxes {
  }

  // .catalog-spoilers__more
  &__more {
    margin-block-start: 4px;
  }
}

.catalog-prices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;

  // .catalog-prices__input
  &__input {
    inline-size: 100%;
    block-size: 44px;
    padding-inline: 16px;
    font-size: 14px;
    letter-spacing: 0.01em;
    background-color: variables.$color-ededed;
    border-block-end: 1px solid variables.$color-dadada;

    &:focus {
      border-block-end-color: variables.$color-hover;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: border-block-end-color;
      transition-duration: 0.3s;
    }

    &::placeholder {
      color: variables.$color-999999;
    }
  }
}

.catalog-checkboxes {
  display: grid;
  gap: 8px;
  block-size: calc(24px * 3 + 8px * 2);
  overflow: hidden;

  // .catalog-checkboxes--show
  &--show {
    block-size: auto;
  }

  @include mixins.prefers-reduced-motion {
    transition-property: block-size;
    transition-duration: 0.3s;
  }

  // .catalog-checkboxes__checkbox
  &__checkbox {
  }
}

.catalog-checkbox {
  .catalog-checkboxes:not(.catalog-checkboxes--show) & {
    &:not(:nth-child(-n + 3)) {
      display: none;
    }
  }

  // .catalog-checkbox__label
  &__label {
    display: flex;
    align-items: center;
    gap: 11px;
    min-block-size: 24px;
    padding-inline: 3px;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: variables.$color-black;
    user-select: none;

    .catalog-checkbox:has(.catalog-checkbox__input:focus-visible) & {
      outline: 2px solid;
      outline-offset: 2px;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;

      .catalog-checkbox__icon {
        color: variables.$color-hover;
      }
    }
  }

  // .catalog-checkbox__icon
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    inline-size: 18px;
    aspect-ratio: 1 / 1;
    font-size: 0;
    color: variables.$color-1d1d1d;
    border: 2px solid;
    border-radius: 4px;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    &::after {
      content: "";
      flex: 0 0 auto;
      inline-size: 12px;
      aspect-ratio: 1 / 1;
      border-radius: 2px;

      @include mixins.prefers-reduced-motion {
        transition-property: background-color;
        transition-duration: 0.3s;
      }

      .catalog-checkbox:has(.catalog-checkbox__input:checked) & {
        background-color: currentColor;
      }
    }
  }

  // .catalog-checkbox__text
  &__text {
  }

  // .catalog-checkbox__input
  &__input {
  }
}

.more-button {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  inline-size: 100%;
  min-block-size: 44px;
  padding-block: 5px;
  padding-inline: 32px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: start;

  @include mixins.prefers-reduced-motion {
    transition-property: color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-hover;
  }

  // .more-button__text
  &__text {
  }

  // .more-button__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;

    .catalog-checkboxes--show + .more-button & {
      transform: rotate(180deg);
    }

    @include mixins.prefers-reduced-motion {
      transition-property: transform;
      transition-duration: 0.3s;
    }
  }
}

.catalog-products {
  @media (max-width: 992px) {
    padding-inline: 16px;
    overflow: hidden;
  }

  // .catalog-products__actions
  &__actions {
    margin-block-end: functions.responsive-value(24, 10);
  }

  // .catalog-products__choices
  &__choices {
    margin-block-end: functions.responsive-value(24, 16);

    @media (max-width: 992px) {
      margin-inline: -16px;
    }
  }

  // .catalog-products__inner
  &__inner {
  }

  // .catalog-products__list
  &__list {
  }

  // .catalog-products__more
  &__more {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    max-inline-size: calc(320px - 32px);
    min-block-size: 44px;
    margin-block-start: 16px;
    margin-inline: auto;
    padding-block: 5px;
    padding-inline: 16px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border: 1px solid;

    @include mixins.prefers-reduced-motion {
      transition-property: border-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      border-color: variables.$color-hover;
    }

    @media (min-width: #{992 + 0.1px}) {
      display: none;
    }
  }

  // .catalog-products__text
  &__text {
    margin-block-start: 64px;

    > *:not(:last-child) {
      margin-block-end: 24px;
    }

    h2 {
      margin-block-end: functions.responsive-value(16, 12);
      font-weight: 500;
      font-size: functions.responsive-value(18, 16);
      line-height: 1.5;

      @media (min-width: #{768 + 0.1px}) {
        line-height: 1.33;
      }
    }

    ul {
      padding-inline-start: 1.5em;
      list-style: disc;
    }

    @media (max-width: 768px) {
      letter-spacing: 0.01em;
    }
  }

  // .catalog-products__pagination
  &__pagination {
    margin-block-start: functions.responsive-value(34, 24);
  }
}

.catalog-actions {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  @media (min-width: #{992 + 0.1px}) {
    justify-content: end;
  }

  // .catalog-actions__group
  &__group {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.products-list {
  display: grid;
  row-gap: functions.responsive-value(24, 16);
  column-gap: functions.responsive-value(24, 8);

  @media (min-width: #{600 + 0.1px}) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: #{992 + 0.1px}) {
    grid-template-columns: repeat(auto-fill, minmax(239px, 1fr));
  }

  // .products-list--grid
  &--grid {
    @media (max-width: 992px) {
      grid-template-columns: repeat(auto-fill, minmax(functions.responsive-value(239, 130), 1fr));
    }
  }

  // .products-list__item
  &__item {
    .products-list:not(.products-list--more) & {
      @media (max-width: 992px) {
        &:not(:nth-of-type(-n + 8)) {
          display: none;
        }
      }
    }
  }
}

.product-card {
  display: grid;
  grid-template-areas:
    "slider identification"
    "slider text"
    "slider from"
    "badges badges"
    "tabs tabs"
    "prices prices"
    "length length"
    "bottom bottom";

  .products-list:not(.products-list--grid) & {
    @media (max-width: 992px) {
      grid-template-columns: calc(92 / 144 * 1fr) calc(196 / 144 * 1fr);
    }
  }

  .products-list--grid & {
    @media (max-width: 992px) {
      grid-template-areas:
        "slider"
        "identification"
        "text"
        "from"
        "tabs"
        "length"
        "prices"
        "bottom";
    }
  }

  @media (min-width: #{992 + 0.1px}) {
    grid-template-areas:
      "header"
      "tabs"
      "identification"
      "prices"
      "text"
      "from"
      "length"
      "bottom";
  }

  // .product-card__badges
  &__badges {
    display: flex;
    align-items: center;
    gap: 4px;
    grid-area: badges;

    .products-list--grid & {
      display: none;
    }

    @media (min-width: #{992 + 0.1px}) {
      position: relative;
      z-index: 2;
      flex-direction: column;
      align-items: start;
      align-self: start;
      grid-area: header;
      padding: 12px;
      pointer-events: none;
    }

    @media (max-width: 992px) {
      flex-wrap: wrap;
      margin-block: 16px 8px;
    }
  }

  // .product-card__badge
  &__badge {
    padding-inline: 4px;
    font-size: functions.responsive-value(12, 10);
    line-height: 1.2;
    text-align: center;
    background-color: variables.$color-badge;

    // .product-card__badge--white
    &--white {
      @media (min-width: #{992 + 0.1px}) {
        background-color: variables.$color-white;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      line-height: 1.1;
      letter-spacing: 0.03em;
    }
  }

  // .product-card__slider
  &__slider {
    grid-area: slider;

    .products-list:not(.products-list--grid) & {
      @media (max-width: 992px) {
        margin-inline-end: 8px;
      }
    }

    .products-list--grid & {
      @media (max-width: 992px) {
        margin-block-end: 8px;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      grid-area: header;
      margin-block-end: 8px;
    }
  }

  // .product-card__tabs
  &__tabs {
    display: flex;
    align-items: center;
    grid-area: tabs;
    margin-block-end: 12px;
    border-block-end: 1px solid variables.$color-999999;

    .products-list--grid & {
      @media (max-width: 992px) {
        margin-block-end: 4px;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      margin-block-end: 20px;
    }
  }

  // .product-card__tab
  &__tab {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    inline-size: 100%;
    min-block-size: 32px;
    padding: 4px;
    font-size: functions.responsive-value(14, 12);
    line-height: 1.67;
    letter-spacing: 0.01em;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      inset-block-end: 0;
      inset-inline: 0;
      z-index: 1;
      block-size: 2px;
      background-color: rgba(variables.$color-999999, 0);
      font-size: 0;
      transform: translateY(50%);
      pointer-events: none;

      @include mixins.prefers-reduced-motion {
        transition-property: background-color;
        transition-duration: 0.3s;
      }
    }

    &:not(&--active) {
      color: variables.$color-999999;
    }

    // .product-card__tab--active
    &--active {
      &::after {
        background-color: currentColor;
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @media (min-width: #{992 + 0.1px}) {
      line-height: 1.3;
    }
  }

  // .product-card__tab-text
  &__tab-text {
    // .product-card__tab-text--list
    &--list {
      .products-list--grid & {
        @media (max-width: 992px) {
          display: none;
        }
      }
    }

    // .product-card__tab-text--grid
    &--grid {
      .products-list:not(.products-list--grid) & {
        display: none;
      }

      @media (min-width: #{992 + 0.1px}) {
        display: none;
      }
    }
  }

  // .product-card__identification
  &__identification {
    display: flex;
    align-items: center;
    gap: functions.responsive-value(16, 7);
    grid-area: identification;
    margin-block-end: functions.responsive-value(16, 4);
    font-size: 12px;
    line-height: 1.2;
    color: rgba(29, 29, 29, 0.6);

    .products-list:not(.products-list--grid) & {
      font-size: functions.responsive-value(12, 10);
    }

    .products-list--grid & {
      @media (max-width: 992px) {
        line-height: 1.3;
        letter-spacing: 0.01em;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      letter-spacing: 0.03em;
    }
  }

  // .product-card__id
  &__id {
  }

  // .product-card__class
  &__class {
  }

  // .product-card__prices
  &__prices {
    display: flex;
    align-items: center;
    gap: 8px;
    grid-area: prices;
    margin-block-end: 16px;

    &:not(&--active) {
      display: none;
    }

    // .product-card__prices--active
    &--active {
    }

    .products-list--grid & {
      @media (max-width: 992px) {
        margin-block-end: 4px;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      margin-block-end: 12px;
    }
  }

  // .product-card__prices-label
  &__prices-label {
    font-size: 16px;
    line-height: 1.5;

    .products-list--grid & {
      font-size: 12px;
      line-height: 1.3;
      letter-spacing: 0.01em;
    }

    @media (min-width: #{992 + 0.1px}) {
      display: none;
    }
  }

  // .product-card__price
  &__price {
    font-weight: 500;
    font-size: functions.responsive-value(18, 16);
    line-height: 1.5;

    .products-list--grid & {
      @media (max-width: 992px) {
        font-size: 14px;
        letter-spacing: 0.01em;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      line-height: 1.33;
    }

    // .product-card__price--old
    &--old {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      text-decoration: line-through;
      color: rgba(29, 29, 29, 0.32);

      .products-list--grid & {
        @media (max-width: 992px) {
          display: none;
        }
      }
    }
  }

  // .product-card__text
  &__text {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    display: -webkit-box;

    grid-area: text;
    margin-block-end: functions.responsive-value(12, 8);
    line-height: 1.3;
    letter-spacing: 0.01em;
    line-clamp: 3;
    overflow: hidden;

    .products-list--grid & {
      @media (max-width: 992px) {
        margin-block-end: 4px;
        font-size: 12px;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      line-height: 1.31;
    }
  }

  // .product-card__from
  &__from {
    display: flex;
    align-items: center;
    gap: 8px;
    grid-area: from;
    font-size: functions.responsive-value(12, 10);
    line-height: 1.2;

    .products-list--grid & {
      @media (max-width: 992px) {
        justify-content: space-between;
        margin-block-end: 4px;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      margin-block-end: 16px;
      line-height: 1.3;
      letter-spacing: 0.01em;
    }
  }

  // .product-card__company
  &__company {
  }

  // .product-card__image
  &__image {
    flex: 0 0 auto;
    inline-size: 19px;
    aspect-ratio: 19 / 16;
    font-size: 0;

    img {
      object-fit: contain;
    }
  }

  // .product-card__country
  &__country {
    .products-list--grid & {
      @media (max-width: 992px) {
        display: none;
      }
    }
  }

  // .product-card__length
  &__length {
    grid-area: length;
    margin-block-end: 8px;

    .products-list--grid & {
      @media (max-width: 992px) {
        margin-block-end: 11px;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      margin-block-end: 16px;
    }
  }

  // .product-card__bottom
  &__bottom {
    grid-area: bottom;
  }
}

.product-images {
  margin-inline: 0;

  // .product-images__wrapper
  &__wrapper {
  }

  // .product-images__slide
  &__slide {
    block-size: auto;

    .products-list--grid & {
      @media (max-width: 992px) {
        aspect-ratio: 1 / 1;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      aspect-ratio: 239 / 235;
    }
  }

  // .product-images__pagination
  &__pagination {
    --swiper-pagination-bullet-horizontal-gap: 2px;
    --swiper-pagination-color: #{variables.$color-pagination};
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-border-radius: 50%;
    --swiper-pagination-bullet-inactive-color: #{rgba(variables.$color-pagination, 0)};
    --swiper-pagination-bullet-inactive-opacity: 1;

    position: absolute;
    inset-block-end: 12px;
    inset-inline: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
    padding-inline: 12px;
    pointer-events: none;

    .products-list:not(.products-list--grid) & {
      @media (max-width: 992px) {
        display: none;
      }
    }

    .swiper-pagination-bullet {
      flex: 0 0 auto;
      font-size: 0;
      border: 1px solid variables.$color-pagination;
      pointer-events: all;

      &:not(&-active) {
        @include mixins.hover {
          background-color: variables.$color-hover;
          border-color: variables.$color-hover;
        }
      }

      &-active {
        --swiper-pagination-bullet-width: 16px;
        --swiper-pagination-bullet-border-radius: 16px;

        cursor: default;
      }

      @include mixins.prefers-reduced-motion {
        transition-property: inline-size, background-color, border-color, border-radius;
        transition-duration: 0.3s;
      }
    }
  }
}

.product-length {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  // .product-length__label
  &__label {
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: variables.$color-2d3843;

    .products-list:not(.products-list--grid) & {
      @media (max-width: 992px) {
        display: none;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      display: none;
    }
  }

  // .product-length__inner
  &__inner {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  // .product-length__radios
  &__radios {
    display: flex;
    align-items: center;
    gap: 6px;

    &:has(.product-radio__input:focus-visible) {
      outline: 2px solid;
      outline-offset: 2px;
    }

    .products-list:not(.products-list--grid) & {
      flex-wrap: wrap;
    }

    .products-list--grid & {
      @media (max-width: 992px) {
        position: relative;
        z-index: 2;
        flex-direction: column;
        block-size: 21px;
      }
    }

    .products-list--grid .product-length__inner:not(.product-length__inner--show) & {
      @media (max-width: 992px) {
        overflow: hidden;
      }
    }
  }

  // .product-length__radio
  &__radio {
  }

  // .product-length__button
  &__button {
    .products-list:not(.products-list--grid) & {
      @media (max-width: 992px) {
        display: none;
      }
    }

    .product-length__inner--show & {
      transform: rotate(180deg);
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color, transform;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }

    @media (min-width: #{992 + 0.1px}) {
      display: none;
    }
  }
}

.product-radio {
  .products-list--grid &:has(.product-radio__input:checked) {
    @media (max-width: 992px) {
      order: -1;
    }
  }

  // .product-radio__label
  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 21px;
    padding-inline: 4px;
    font-size: 11px;
    line-height: 1.91;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-align: center;
    background-color: variables.$color-f9f9f9;

    .products-list:not(.products-list--grid) .product-radio:has(.product-radio__input:checked) & {
      @media (max-width: 992px) {
        background-color: variables.$color-hover;
      }
    }

    .product-radio:has(.product-radio__input:checked) & {
      @media (min-width: #{992 + 0.1px}) {
        background-color: variables.$color-hover;
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      background-color: variables.$color-hover;
    }
  }

  // .product-radio__input
  &__input {
  }
}

.product-bottom {
  // .product-bottom__row
  &__row {
    display: flex;
    align-items: center;
    gap: 8px;

    .products-list--grid & {
      @media (max-width: 992px) {
        gap: 4px;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      gap: 16px;
    }
  }

  // .product-bottom__buy
  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    min-block-size: 44px;
    padding-block: 5px;
    padding-inline: 16px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    background-color: variables.$color-hover;
    border: 2px solid variables.$color-hover;

    .products-list--grid & {
      @media (max-width: 992px) {
        min-block-size: 32px;
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: 0.01em;
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      background-color: rgba(variables.$color-hover, 0);
    }
  }

  // .product-bottom__actions
  &__actions {
  }

  // .product-bottom__one
  &__one {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    max-inline-size: functions.responsive-value(210, 240);
    min-block-size: 44px;
    padding-block: 5px;
    padding-inline: 8px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.3em;

    .products-list--grid & {
      @media (max-width: 992px) {
        min-block-size: 32px;
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: 0.01em;
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }
}

.product-actions {
  @media (max-width: 992px) {
    position: relative;
  }

  // .product-actions__row
  &__row {
    display: flex;
    align-items: center;
    gap: functions.responsive-value(16, 8);

    @media (max-width: 992px) {
      position: absolute;
      inset-block: 0;
      inset-inline-end: calc(100% + 8px);
      z-index: 1;
      padding-inline: 8px;
      overflow: hidden;
      background-color: variables.$color-white;

      .products-list--grid & {
        inset-inline-end: calc(100% + 4px);
        padding-inline: 4px;
      }

      .product-actions:not(.product-actions--show) & {
        inline-size: 0;
        padding-inline: 0;
      }

      @include mixins.prefers-reduced-motion {
        transition-property: inline-size, padding-inline;
        transition-duration: 0.3s;
      }
    }
  }

  // .product-actions__button
  &__button {
    flex: 0 0 auto;
    font-size: 0;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }

    // .product-actions__button--active
    &--active {
      color: variables.$color-hover;

      @include mixins.hover {
        color: variables.$color-1d1d1d;
      }
    }
  }

  // .product-actions__more
  &__more {
    @media (min-width: #{992 + 0.1px}) {
      display: none;
    }

    @media (max-width: 992px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      inline-size: 44px;
      aspect-ratio: 1 / 1;
      font-size: 0;

      .products-list:not(.products-list--grid) & {
        border: 1px solid;
      }

      .products-list--grid & {
        inline-size: 32px;
      }

      @include mixins.prefers-reduced-motion {
        transition-property: color;
        transition-duration: 0.3s;
      }

      @include mixins.hover {
        color: variables.$color-hover;
      }
    }
  }
}

.products-pagination {
  display: flex;
  align-items: center;
  gap: functions.responsive-value(64, 16);

  @media (min-width: #{768 + 0.1px}) {
    inline-size: fit-content;
    margin-inline: auto;
  }

  @media (max-width: 768px) {
    justify-content: space-between;
  }

  // .products-pagination__arrow
  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    inline-size: functions.responsive-value(48, 40);
    aspect-ratio: 1 / 1;
    font-size: 0;
    background-color: variables.$color-white;
    box-shadow:
      0 11px 15px 0 rgba(195, 196, 198, 0.2),
      0 9px 46px 0 rgba(195, 196, 198, 0.12),
      0 24px 38px 0 rgba(195, 196, 198, 0.14);
    border-radius: 50%;

    // .products-pagination__arrow--prev
    &--prev {
    }

    // .products-pagination__arrow--next
    &--next {
      svg {
        transform: rotate(180deg);
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }

  // .products-pagination__inner
  &__inner {
    display: flex;
    align-items: center;
    gap: functions.responsive-value(4, 2);
  }

  // .products-pagination__link
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    inline-size: functions.responsive-value(44, 36);
    aspect-ratio: 1 / 1;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    text-align: center;
    border-radius: 50%;

    &[href]:not(&--active) {
      @include mixins.hover {
        background-color: variables.$color-hover;
      }
    }

    // .products-pagination__link--active
    &--active {
      background-color: variables.$color-hover;
    }

    // .products-pagination__link--hide
    &--hide {
      @media (max-width: 768px) {
        display: none;
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }
  }

  // .products-pagination__dost
  &__dost {
  }
}
