@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.products-list {
  display: grid;
  row-gap: functions.responsive-value(24, 16);
  column-gap: functions.responsive-value(24, 8);

  @media (min-width: #{600 + 0.1px}) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: #{992 + 0.1px}) {
    grid-template-columns: repeat(auto-fill, minmax(239px, 1fr));
  }

  // .products-list--grid
  &--grid {
    @media (max-width: 992px) {
      grid-template-columns: repeat(auto-fill, minmax(functions.responsive-value(239, 130), 1fr));
    }
  }

  // .products-list__item
  &__item {
    .products-list:not(.products-list--more) & {
      @media (max-width: 992px) {
        &:not(:nth-of-type(-n + 8)) {
          display: none;
        }
      }
    }
  }
}

.product-card {
  display: grid;
  grid-template-areas:
    "slider identification"
    "slider text"
    "slider from"
    "badges badges"
    "tabs tabs"
    "prices prices"
    "length length"
    "bottom bottom";

  .products-list:not(.products-list--grid) & {
    @media (max-width: 992px) {
      grid-template-columns: calc(92 / 144 * 1fr) calc(196 / 144 * 1fr);
    }
  }

  .products-list--grid & {
    @media (max-width: 992px) {
      grid-template-areas:
        "slider"
        "identification"
        "text"
        "from"
        "tabs"
        "length"
        "prices"
        "bottom";
    }
  }

  @media (min-width: #{992 + 0.1px}) {
    grid-template-areas:
      "header"
      "tabs"
      "identification"
      "prices"
      "text"
      "from"
      "length"
      "bottom";
  }

  // .product-card__badges
  &__badges {
    display: flex;
    align-items: center;
    gap: 4px;
    grid-area: badges;

    .products-list--grid & {
      display: none;
    }

    @media (min-width: #{992 + 0.1px}) {
      position: relative;
      z-index: 2;
      flex-direction: column;
      align-items: start;
      align-self: start;
      grid-area: header;
      padding: 12px;
      pointer-events: none;
    }

    @media (max-width: 992px) {
      flex-wrap: wrap;
      margin-block: 16px 8px;
    }
  }

  // .product-card__badge
  &__badge {
    padding-inline: 4px;
    font-size: functions.responsive-value(12, 10);
    line-height: 1.2;
    text-align: center;
    background-color: variables.$color-badge;

    // .product-card__badge--white
    &--white {
      @media (min-width: #{992 + 0.1px}) {
        background-color: variables.$color-white;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      line-height: 1.1;
      letter-spacing: 0.03em;
    }
  }

  // .product-card__slider
  &__slider {
    grid-area: slider;

    .products-list:not(.products-list--grid) & {
      @media (max-width: 992px) {
        margin-inline-end: 8px;
      }
    }

    .products-list--grid & {
      @media (max-width: 992px) {
        margin-block-end: 8px;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      grid-area: header;
      margin-block-end: 8px;
    }
  }

  // .product-card__tabs
  &__tabs {
    display: flex;
    align-items: center;
    grid-area: tabs;
    margin-block-end: 12px;
    border-block-end: 1px solid variables.$color-999999;

    .products-list--grid & {
      @media (max-width: 992px) {
        margin-block-end: 4px;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      margin-block-end: 20px;
    }
  }

  // .product-card__tab
  &__tab {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    inline-size: 100%;
    min-block-size: 32px;
    padding: 4px;
    font-size: functions.responsive-value(14, 12);
    line-height: 1.67;
    letter-spacing: 0.01em;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      inset-block-end: 0;
      inset-inline: 0;
      z-index: 1;
      block-size: 2px;
      background-color: rgba(variables.$color-999999, 0);
      font-size: 0;
      transform: translateY(50%);
      pointer-events: none;

      @include mixins.prefers-reduced-motion {
        transition-property: background-color;
        transition-duration: 0.3s;
      }
    }

    &:not(&--active) {
      color: variables.$color-999999;
    }

    // .product-card__tab--active
    &--active {
      &::after {
        background-color: currentColor;
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @media (min-width: #{992 + 0.1px}) {
      line-height: 1.3;
    }
  }

  // .product-card__tab-text
  &__tab-text {
    // .product-card__tab-text--list
    &--list {
      .products-list--grid & {
        @media (max-width: 992px) {
          display: none;
        }
      }
    }

    // .product-card__tab-text--grid
    &--grid {
      .products-list:not(.products-list--grid) & {
        display: none;
      }

      @media (min-width: #{992 + 0.1px}) {
        display: none;
      }
    }
  }

  // .product-card__identification
  &__identification {
    display: flex;
    align-items: center;
    gap: functions.responsive-value(16, 7);
    grid-area: identification;
    margin-block-end: functions.responsive-value(16, 4);
    font-size: 12px;
    line-height: 1.2;
    color: rgba(29, 29, 29, 0.6);

    .products-list:not(.products-list--grid) & {
      font-size: functions.responsive-value(12, 10);
    }

    .products-list--grid & {
      @media (max-width: 992px) {
        line-height: 1.3;
        letter-spacing: 0.01em;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      letter-spacing: 0.03em;
    }
  }

  // .product-card__id
  &__id {
  }

  // .product-card__class
  &__class {
  }

  // .product-card__prices
  &__prices {
    display: flex;
    align-items: center;
    gap: 8px;
    grid-area: prices;
    margin-block-end: 16px;

    &:not(&--active) {
      display: none;
    }

    // .product-card__prices--active
    &--active {
    }

    .products-list--grid & {
      @media (max-width: 992px) {
        margin-block-end: 4px;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      margin-block-end: 12px;
    }
  }

  // .product-card__prices-label
  &__prices-label {
    font-size: 16px;
    line-height: 1.5;

    .products-list--grid & {
      font-size: 12px;
      line-height: 1.3;
      letter-spacing: 0.01em;
    }

    @media (min-width: #{992 + 0.1px}) {
      display: none;
    }
  }

  // .product-card__price
  &__price {
    font-weight: 500;
    font-size: functions.responsive-value(18, 16);
    line-height: 1.5;

    .products-list--grid & {
      @media (max-width: 992px) {
        font-size: 14px;
        letter-spacing: 0.01em;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      line-height: 1.33;
    }

    // .product-card__price--old
    &--old {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      text-decoration: line-through;
      color: rgba(29, 29, 29, 0.32);

      .products-list--grid & {
        @media (max-width: 992px) {
          display: none;
        }
      }
    }
  }

  // .product-card__text
  &__text {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    display: -webkit-box;

    grid-area: text;
    margin-block-end: functions.responsive-value(12, 8);
    line-height: 1.3;
    letter-spacing: 0.01em;
    line-clamp: 3;
    overflow: hidden;

    .products-list--grid & {
      @media (max-width: 992px) {
        margin-block-end: 4px;
        font-size: 12px;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      line-height: 1.31;
    }
  }

  // .product-card__from
  &__from {
    display: flex;
    align-items: center;
    gap: 8px;
    grid-area: from;
    font-size: functions.responsive-value(12, 10);
    line-height: 1.2;

    .products-list--grid & {
      @media (max-width: 992px) {
        justify-content: space-between;
        margin-block-end: 4px;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      margin-block-end: 16px;
      line-height: 1.3;
      letter-spacing: 0.01em;
    }
  }

  // .product-card__company
  &__company {
  }

  // .product-card__image
  &__image {
    flex: 0 0 auto;
    inline-size: 19px;
    aspect-ratio: 19 / 16;
    font-size: 0;

    img {
      object-fit: contain;
    }
  }

  // .product-card__country
  &__country {
    .products-list--grid & {
      @media (max-width: 992px) {
        display: none;
      }
    }
  }

  // .product-card__length
  &__length {
    grid-area: length;
    margin-block-end: 8px;

    .products-list--grid & {
      @media (max-width: 992px) {
        margin-block-end: 11px;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      margin-block-end: 16px;
    }
  }

  // .product-card__bottom
  &__bottom {
    grid-area: bottom;
  }
}

.product-images {
  margin-inline: 0;

  // .product-images__wrapper
  &__wrapper {
  }

  // .product-images__slide
  &__slide {
    block-size: auto;

    .products-list--grid & {
      @media (max-width: 992px) {
        aspect-ratio: 1 / 1;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      aspect-ratio: 239 / 235;
    }
  }

  // .product-images__pagination
  &__pagination {
    --swiper-pagination-bullet-horizontal-gap: 2px;
    --swiper-pagination-color: #{variables.$color-pagination};
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-border-radius: 50%;
    --swiper-pagination-bullet-inactive-color: #{rgba(variables.$color-pagination, 0)};
    --swiper-pagination-bullet-inactive-opacity: 1;

    position: absolute;
    inset-block-end: 12px;
    inset-inline: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
    padding-inline: 12px;
    pointer-events: none;

    .products-list:not(.products-list--grid) & {
      @media (max-width: 992px) {
        display: none;
      }
    }

    .swiper-pagination-bullet {
      flex: 0 0 auto;
      font-size: 0;
      border: 1px solid variables.$color-pagination;
      pointer-events: all;

      &:not(&-active) {
        @include mixins.hover {
          background-color: variables.$color-hover;
          border-color: variables.$color-hover;
        }
      }

      &-active {
        --swiper-pagination-bullet-width: 16px;
        --swiper-pagination-bullet-border-radius: 16px;

        cursor: default;
      }

      @include mixins.prefers-reduced-motion {
        transition-property: inline-size, background-color, border-color, border-radius;
        transition-duration: 0.3s;
      }
    }
  }
}

.product-length {
  // .product-length__button
  &__button {
  }

  // .product-length__inner
  &__inner {
    .products-list--grid & {
      @media (max-width: 992px) {
        position: fixed;
        inset-block-end: 0;
        inset-inline: 0;
        z-index: 10000000;
        padding: 16px;
        background-color: variables.$color-white;
        overflow-x: hidden;

        @include mixins.prefers-reduced-motion {
          transition-property: visibility, transform;
          transition-duration: 0.3s;
        }

        &:not(&--show) {
          visibility: hidden;
          transform: translateY(100%);
        }
      }
    }
  }

  // .product-length__header
  &__header {
    margin-block-end: 16px;
  }

  // .product-length__radios
  &__radios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;

    &:has(.product-radio__input:focus-visible) {
      outline: 2px solid;
      outline-offset: 2px;
    }

    .products-list--grid & {
      @media (max-width: 992px) {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        inline-size: 100%;
        gap: 8px;
      }
    }
  }

  // .product-length__radio
  &__radio {
  }
}

.length-button {
  display: flex;
  align-items: center;
  gap: 8px;
  inline-size: 100%;

  .products-list:not(.products-list--grid) & {
    @media (max-width: 992px) {
      display: none;
    }
  }

  @include mixins.prefers-reduced-motion {
    transition-property: color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-hover;

    .length-button__label {
      color: variables.$color-hover;
    }

    .length-button__value {
      background-color: variables.$color-hover;
    }
  }

  @media (min-width: #{992 + 0.1px}) {
    display: none;
  }

  // .length-button__label
  &__label {
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: variables.$color-2d3843;
    margin-inline-end: auto;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }
  }

  // .length-button__value
  &__value {
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 21px;
    padding-inline: 4px;
    font-size: 11px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-align: center;
    color: variables.$color-1d1d1d;
    background-color: variables.$color-f9f9f9;

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }
  }

  // .length-button__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
  }
}

.length-header {
  display: flex;
  align-items: center;
  gap: 8px;
  inline-size: 100%;

  .products-list:not(.products-list--grid) & {
    @media (max-width: 992px) {
      display: none;
    }
  }

  @include mixins.prefers-reduced-motion {
    transition-property: color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-hover;

    .length-header__label {
      color: variables.$color-hover;
    }

    .length-header__value {
      background-color: variables.$color-hover;
    }
  }

  @media (min-width: #{992 + 0.1px}) {
    display: none;
  }

  // .length-header__label
  &__label {
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: variables.$color-2d3843;
    margin-inline-end: auto;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }
  }

  // .length-header__value
  &__value {
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 24px;
    padding-inline: 4px;
    font-size: 11px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-align: center;
    color: variables.$color-1d1d1d;
    background-color: variables.$color-f9f9f9;

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }
  }

  // .length-header__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    transform: rotate(180deg);
  }
}

.product-radio {
  // .product-radio__label
  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 21px;
    padding-inline: 4px;
    font-size: 11px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-align: center;
    background-color: variables.$color-f9f9f9;

    .products-list:not(.products-list--grid) .product-radio:has(.product-radio__input:checked) & {
      @media (max-width: 992px) {
        background-color: variables.$color-hover;
      }
    }

    .products-list--grid & {
      @media (max-width: 992px) {
        min-block-size: 24px;
        font-size: 9;
        letter-spacing: 0.17em;
      }
    }

    .product-radio:has(.product-radio__input:checked) & {
      @media (min-width: #{992 + 0.1px}) {
        background-color: variables.$color-hover;
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      background-color: variables.$color-hover;
    }
  }

  // .product-radio__input
  &__input {
  }
}

.product-bottom {
  // .product-bottom__row
  &__row {
    display: flex;
    align-items: center;
    gap: 8px;

    .products-list--grid & {
      @media (max-width: 992px) {
        gap: 4px;
      }
    }

    @media (min-width: #{992 + 0.1px}) {
      gap: 16px;
    }
  }

  // .product-bottom__buy
  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    min-block-size: 44px;
    padding-block: 5px;
    padding-inline: 16px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    background-color: variables.$color-hover;
    border: 2px solid variables.$color-hover;

    .products-list--grid & {
      @media (max-width: 992px) {
        min-block-size: 32px;
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: 0.01em;
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      background-color: rgba(variables.$color-hover, 0);
    }
  }

  // .product-bottom__actions
  &__actions {
  }

  // .product-bottom__one
  &__one {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    max-inline-size: functions.responsive-value(210, 240);
    min-block-size: 44px;
    padding-block: 5px;
    padding-inline: 8px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.3em;

    .products-list--grid & {
      @media (max-width: 992px) {
        min-block-size: 32px;
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: 0.01em;
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }
}

.product-actions {
  @media (max-width: 992px) {
    position: relative;
  }

  // .product-actions__row
  &__row {
    display: flex;
    align-items: center;
    gap: functions.responsive-value(16, 8);

    @media (max-width: 992px) {
      position: absolute;
      inset-block: 0;
      inset-inline-end: calc(100% + 8px);
      z-index: 1;
      padding-inline: 8px;
      overflow: hidden;
      background-color: variables.$color-white;

      .products-list--grid & {
        inset-inline-end: calc(100% + 4px);
        padding-inline: 4px;
      }

      .product-actions:not(.product-actions--show) & {
        inline-size: 0;
        padding-inline: 0;
        visibility: hidden;
      }

      @include mixins.prefers-reduced-motion {
        transition-property: inline-size, padding-inline, visibility;
        transition-duration: 0.3s;
      }
    }
  }

  // .product-actions__button
  &__button {
    flex: 0 0 auto;
    font-size: 0;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }

    // .product-actions__button--active
    &--active {
      color: variables.$color-hover;

      @include mixins.hover {
        color: variables.$color-1d1d1d;
      }
    }
  }

  // .product-actions__more
  &__more {
    @media (min-width: #{992 + 0.1px}) {
      display: none;
    }

    @media (max-width: 992px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      inline-size: 44px;
      aspect-ratio: 1 / 1;
      font-size: 0;

      .products-list:not(.products-list--grid) & {
        border: 1px solid;
      }

      .products-list--grid & {
        inline-size: 32px;
      }

      @include mixins.prefers-reduced-motion {
        transition-property: color;
        transition-duration: 0.3s;
      }

      @include mixins.hover {
        color: variables.$color-hover;
      }
    }
  }
}

.products-pagination {
  display: flex;
  align-items: center;
  gap: functions.responsive-value(64, 16);

  @media (min-width: #{768 + 0.1px}) {
    inline-size: fit-content;
    margin-inline: auto;
  }

  @media (max-width: 768px) {
    justify-content: space-between;
  }

  // .products-pagination__arrow
  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    inline-size: functions.responsive-value(48, 40);
    aspect-ratio: 1 / 1;
    font-size: 0;
    background-color: variables.$color-white;
    box-shadow:
      0 11px 15px 0 rgba(195, 196, 198, 0.2),
      0 9px 46px 0 rgba(195, 196, 198, 0.12),
      0 24px 38px 0 rgba(195, 196, 198, 0.14);
    border-radius: 50%;

    // .products-pagination__arrow--prev
    &--prev {
    }

    // .products-pagination__arrow--next
    &--next {
      svg {
        transform: rotate(180deg);
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }

  // .products-pagination__inner
  &__inner {
    display: flex;
    align-items: center;
    gap: functions.responsive-value(4, 2);
  }

  // .products-pagination__link
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    inline-size: functions.responsive-value(44, 36);
    aspect-ratio: 1 / 1;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    text-align: center;
    border-radius: 50%;

    &[href]:not(&--active) {
      @include mixins.hover {
        background-color: variables.$color-hover;
      }
    }

    // .products-pagination__link--active
    &--active {
      background-color: variables.$color-hover;
    }

    // .products-pagination__link--hide
    &--hide {
      @media (max-width: 768px) {
        display: none;
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }
  }

  // .products-pagination__dost
  &__dost {
  }
}
